axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

g.tick {
    font-size: 11px;
}

div.tooltip {   
    position: absolute;
    /*padding: 2px;*/
    font: 10px sans-serif;
    color: white;
    background: #404040;
    border: 0px;
    /*border-radius: 6px;*/
    pointer-events: none;
}

.green {
    fill: green;
}

.front {
    pointer-events: none;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}


.tooltip-cell {
    padding: 4px;
    border-bottom: 1px dashed #909090;
    border-right: 1px dashed #909090;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.point {
    pointer-events: all;
    stroke:#000;
    stroke-width:6px;
    stroke-opacity:0;
}

.title {
    pointer-events: none;
    font: 22px sans-serif;
    font-weight: bold;
}

.label-text {
    pointer-events: none;
    font: 15px sans-serif;
    font-weight: bold;
}

/* Generated using http://css3buttongenerator.com */
.reset-button {
  color: #ffffff;
  font: 10px sans-serif;
  background: #a1a1a1;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.reset-button:hover {
  background: #0783d1;
  background-image: -webkit-linear-gradient(top, #0783d1, #006eb8);
  background-image: -moz-linear-gradient(top, #0783d1, #006eb8);
  background-image: -ms-linear-gradient(top, #0783d1, #006eb8);
  background-image: -o-linear-gradient(top, #0783d1, #006eb8);
  background-image: linear-gradient(to bottom, #0783d1, #006eb8);
  text-decoration: none;
}
